
body {
	background-color: $body-bg;
	color: $text-color-default;
	font-family: "Raleway", sans-serif;

	html, & {
		box-sizing: border-box;
		-webkit-font-smoothing: subpixel-antialiased;
		-webkit-appearance: none;
		font-size: 16px;
	}
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
	line-height: 1;
	color: $branding-secondary;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: border-bottom-color ease $transition-delay;
	
	&:hover {
		border-bottom-color: $branding-secondary;
	}

	&.icon-link {

		i {
			transition: margin-right ease $transition-delay;
		}

		&:hover i {
			margin-right: .5em;
		}
	}
}

p {
	margin-top: 0;
	margin-bottom: 10px;
}
