
.container {
	display: grid;

	grid-template-columns: $header-height auto;
	grid-template-rows: $header-height auto;
	grid-template-areas: 
		"header header"
		"aside main";
}

.header {
	grid-area: header;
}

.aside {
	grid-area: aside;
}

.main {
	grid-area: main;
}
