
/**
 * 1. Colors
 * 2. Dimensions
 * 3. Other
 */

/* 1. Colors */
$body-bg: #2D2D2F;

$text-color-default: white;

$branding-primary: #5052A5;
$branding-secondary: #dc5551;

$black: #000;

$navbar-bg: lighten($body-bg, 10);

/* 2. Dimensions */
$header-height: 300px;
$navbar-profile-height: $header-height;

/* 3. Other */
$transition-effect: ease;
$transition-delay: .3s;
